body {
	background-color: #9EBF26;
	color: #000000;
	direction:ltr;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	width: 80%;
	margin: auto;
	
}

#name{
	color: white;
}

#site_head{
	background-color: #2D5873;//#525151;
	color: black;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding-right:25px;
	padding-left:25px;
	padding-bottom: 15px;
	padding-top:5px;
}

#title{	
	color:white;	
	padding-left:25px;
	margin-bottom: 0px; margin-top: 0px;
}

#divtitle{
	position:absolute;
	width:100%;		
	height:auto;
	background-color:#2D5873;
}

#main_content{
	padding-top: 15px;
	position: relative;
}

.tableformations{
	margin-left: auto; 
  	margin-right: auto; 
  	width: auto;
}

.imgformations{
	vertical-align: middle;
    height: 50%;
}

article {		
	padding-top: 5px; 
	//position:absolute;//viré pour index3
}

#description{
	width: 60%;
	float: left;
	text-align:justify;
	//margin-right: 2em;
	//position:relative;
}
#gallery{
	margin: auto;
	width: 340px;
	float: right;
	padding: 1em;
	//position:relative;
	background-color: #C3D973;
}
#imgnext{
	cursor: pointer; 
	position: absolute;
	top: 160px;
}
#imgprevious{
	cursor: pointer; 
	position: absolute;
	top: 160px;
}
#imgmaxi{
	width: 50%;
	margin:auto;
}

.menuitem a{
	display: block;
}

a:hover {
	//color: white;
	//font-weight:bold;
	cursor: pointer; 
}

footer{
	position: absolute;
    text-align: center;
    width: inherit; 
  	bottom: 2%;
}
.contact{
	display: compact;
	margin: 0 1.2em;
	text-decoration: none;
	font-size: 1.2em;
	color:#2D5873;
}

